#btn-generate-excuse {
    background-color: #4CAF50; 
    color: white;
    border:#295b2b;
    height: 60px
}

#btn-extreme-excuse {
    background-color: #fa2b2b; 
    color: white;
    height: 60px
}

#container{
    height: 100vh;
    /* background-color: #88d07b; */
}

#title{
    background-color: lightblue;
    padding: 20px;
    border: solid 2px lightblue;
    border-radius: 8px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#sub-title{
    background-color: rgb(216, 233, 239);
    padding: 20px;
    /* border-radius: 8px; */

}

#description{
    background-color: rgb(241, 237, 237);
    color: rgb(151, 147, 147);
    padding: 5px;

}

img{
    border-radius: 50%;
}

footer{
    text-align: center;
}

#degree-needed{
    display: flex
    
}

label{
    margin-right: 5px;
    padding: 5px;
    padding-left: 0px;
}

